# This service unit is for running sensor_getter script

[Unit]
Description=Get data from BME280 and update the database
Wants=sensor_getter.timer

[Service]
Type=oneshot

[Install]
WantedBy=multi-user.target