<!DOCTYPE html>
<html lang="en">
<meta charset="utf-8"/>
<title>{{ title }}</title>
<script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.1/chart.min.js'></script>
</head>

<body>
<div style="text-align:center">
    <h1>{{ title }}</h1>

    <div>Last reading: {{ last_temperature }} ℃</div>

    <canvas id="chart" width="1200" height="800"></canvas>
    <script>

      // bar chart data
      var barData = {
        labels : [
          {% for item in labels %}
            "{{ item }}",
          {% endfor %}
        ],

        datasets : [{
          data : [
	    {% for item in values %}
              {{ item }},
            {% endfor %}]
          }
	]
      }

      // get bar chart canvas
      var mychart = document.getElementById("chart").getContext("2d");

      const config = {
        type: 'line',
        data: barData,
        options: {
            responsive: false,
            plugins: {
            legend: {
                position: 'top',
                    },
      title: {
        display: true,
        text: 'Chart.js Line Chart'
      }
    }
  },
};

      // draw bar chart
      var LineChartDemo = new Chart(mychart, config).Line(barData, {
        scaleStartValue: 0,
        scaleShowLabels: true,
        bezierCurve: false,
      });




    </script>
</div>
</body>
</html>